body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  

  .container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    max-width: 400px;
    text-align: center;
  }
  
  
  
  
  

  form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .checkbox input {
    margin-right: 10px;
  }
  
  .checkbox label {
    font-size: 0.85rem;
    color: grey;
  }
  
  form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 5px 0 black;
  }
  

  
  